#
# Copyright 2014, NICTA
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
#
# @TAG(NICTA_BSD)
#

menuconfig FUEL_LEVEL_APP
    bool "Fuel Level App"
    default n
    depends on LIB_SEL4 && (LIB_MUSL_C || LIB_SEL4_C)
    help
        Contains the app that display fuel level.

